<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmBVfzYHYXqpFbhTSMC2jSrcPV4qydzE8</string>
	<key>GCM_SENDER_ID</key>
	<string>559693137785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.apec.smarthotel.spc</string>
	<key>PROJECT_ID</key>
	<string>mandalaoperations-903c4</string>
	<key>STORAGE_BUCKET</key>
	<string>mandalaoperations-903c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559693137785:ios:fd35ee7de03e4cb6e291a8</string>
</dict>
</plist>